

.header {
   background-color: var(--primary);
   height: 15vh; 
  display: flex;
  flex-direction:column;
  justify-content: center;
 
  }
  .container{
      margin: 0 10% 0 10%;

  }

.container_header {
display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: inherit; 
}

nav ul li {
    color: var(--color-text)

}
nav ul li:hover {
color: #a0b4bc; 
}

.links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  
  font-weight: 400;
  
}
.logo{
  font-weight: bold;
  font-size: 13px;
}

@media (max-width: 320px) {
 .navigation {
   display: none;
 }


  }



