.footer {
  background: linear-gradient(var(--gradient), var(--primary));
  height: auto;
  width: 100%;
  bottom: 0;
  position: fixed;
  font-weight: 400;
  color: var(--color-text);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  margin: 1% 10% 1% 10%;
  font-size: 3vh;
}
.item {
  display: flex;
  flex-direction: row;
}
.location {
  font-style: normal;
}
.img {
  height: auto;
  width: 2vw;
}
img{
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 769px) {
  .footer {
    width: 100%;
    height: auto;

  }
  .container {
    display: flex;
    flex-direction: column;
    font-size: 3vmin;
    align-items: center;
  }
  .item {
    margin: 0 1fr 0 1fr;
    width: 40vw;
  }

  .img {
    width: 4.8vmin;
  }
}
@media only screen and (max-width: 425px) {

.container {
  display: flex;
  flex-direction: column;
  font-size: 4vmin;
  align-items: center;
  margin: 1% 0% 1% 0%;
}
.item {
  margin: 0 1fr 0 1fr;
  width: 75vw;
}
.img {
  width: 7vmin;
}
}