.footer {
  background-color: var(--primary);
  height: 10vh; 
width: 100%;
bottom: 0;
position: fixed;
display: flex;
flex-direction:column;
justify-content: center;

  
} 

.container{
    margin: 0 10% 0 10%;
    background-color: red;

}