@media only screen and (min-width: 769px) {
  .header > * {
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  .header {
    display: grid;
    justify-content: center;
    background: linear-gradient(var(--primary), var(--gradient));
    color: var(--color-text);
    align-items: center;
  }
  .container {
    width: 100%;
    margin: 2% 0 2% 0;
    display: grid;
    grid-template-columns: 2fr 0.4fr;
    padding-top: 4.3vh;
  }

  .logo {
    font-weight: bold;
    font-size: 5vh;
  }
  .button {
    width: 15vw;
    height: 15vh;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    display: grid;
    justify-content: center;
    background: linear-gradient(var(--primary), var(--gradient));
    color: var(--color-text);
    align-items: center;
  }
  .container {
    width: 100%;
    margin: 2% 0% 2% 0%;
    display: grid;
    grid-template-columns: 2fr 0.4fr;
    padding-top: 4.3vh;
  }
  .logo {
    font-weight: bold;
    font-size: 4vh;
    margin-right: 100px;
  }
  .logo_container {
    margin-left: 10px;
  }
  button {
    width: 20vw;
    height: 10vh;
  }
  img {
    width: 100%;
    height: auto;
  }
}
