@media only screen and (max-width: 769px) {

    .navigation  {
      width: 100%;
      top: 15.5%;
      left:0;
      cursor: pointer;
      
    }

    .navigation ul li{

      text-align:center;
height: 5vh;
      
    }
    .navigation ul li:hover {
      color: #a0b4bc;
    }
} 