@media only screen and (max-width: 769px) {

    .navigation  {
      width: 100%;
      top: 15.5%;
      left:0;
      cursor: pointer;
      
    }
    .navigation ul li{
      margin: 10px 0 10px 0;
      text-align:center;
      width: 100%;
      
    }
    .navigation ul li:hover {
      color: #a0b4bc;
    }
} 